.techs {
    animation: slideTechs 1.2s;
}

@keyframes slideTechs {
    from {
        transform: translateY(60px);
    } 
    to {
        transform: translateY(0px);
    }
}

.card {
    margin-bottom: 25px;
}

.cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

/* RESPONSIVE ============= */
@media (max-width: 1200px) {
    .techs {
        text-align: center;
    }

    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .cards-container {
        margin-bottom: 32px;
    }
}